%h1 Edit existing issue
=render :partial=>'form',:locals=>{:issue=>@issue,:action=>'update'}

%section
  %h2 Edit pieces
  %table
    -@pieces.each do |piece|
      %tr
        %td{:style=>'padding: 3px 10px'}=link_to piece.nice_name,"/pieces/#{piece.id}/edit"
        %td=piece.author.name
  %h2 Edit illustrations
  %table
    -@illustrations.each do |piece|
      %tr
        %td{:style=>'padding: 3px 10px'}=link_to piece.nice_name,"/pieces/#{piece.id}/edit"
        %td=piece.author.name
        %td=image_tag "illustrations/#{urlify(piece.issue.title)}/#{urlify(piece.nice_name)}-#{urlify(piece.author.name)}.jpg"
  
// TODO - make this re-orderable
